<div class="border-bottom row" style="margin-bottom:16px; padding-bottom: 8px">
  <div class="col-10">
    <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px;">
      {{ training_group['title'] }}
    </h4>
    <div>
      <b>Location:</b> {{ training_group['location'] }}
    </div>
    {% if 'price' in training_group %}
    <div>
      <b>Price:</b> ${{ training_group['price'] }} USD
    </div>
    {% endif %}
  </div>
  <div class="col-2 paddding-right: 16px">
    <a href= "mailto:pratikhazard@gmail.com?subject=FootyAcademy%3A%20Application%20for%20{{ training_group['title'] }}&body=Client's%20name%3A%0D%0A%0D%0AGuardian's%20name%3A%0D%0A%0D%0A%0D%0A%0D%0A" type="button" class="btn btn-outline-primary float-right align-middle" >Apply</a> 
  </div>
</div>